.m-music-list{background: #F2F4F5;border-top-left-radius: .5rem;border-top-right-radius: .5rem;position: relative;}

.m-music-list_header{display: flex;align-items: center;height: 2.2rem;}
    .m-music-list_header .l{font-size: 1.2rem;margin: 0 .4rem;}
    .m-music-list_header .r{font-size: .8rem;}
    .m-music-list_header .r span{color: #98999A;}

.m-music-list_list li{display: flex;}
    .m-music-list_list li.active .l{color: #E4463B;}
    .m-music-list_list li.active .l .iconfont{font-size: 1rem;}
    .m-music-list_list li .l{width: 3rem;line-height: 3rem;text-align: center;color: #909192;}
    .m-music-list_list li .r{flex: 1;padding: .5rem 0;overflow: hidden;}
    .m-music-list_list li .r p{line-height: .9rem;font-size: .8rem;margin-bottom: .3rem;}
    .m-music-list_list li .r span{color: #98999A;line-height: .7rem;}
