.m-nav{display: flex;height: 2.5rem;line-height: 2.5rem;position: absolute;left: 0;top: 0;right: 0;z-index: 2;}
    .m-nav .iconfont{font-size: 1.2rem;}
    .m-nav .l, .m-nav .r{width: 2.4rem;text-align: center;color: #fff;}
    .m-nav .c{flex: 1;text-align: center;}
    .m-nav .c a{display: inline-block;width: 2.8rem;color: #EB8D88;}
    .m-nav .c a.active{color: #fff;}
