.m-listCtrl{position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 998;overflow: hidden;transition-property: transform;}

.m-listCtrl_bg, .m-listCtrl_box{position: absolute;left: 0;right: 0;}

.m-listCtrl_bg{top: 0;bottom: 0;z-index: 1;background: #000;transition-property: opacity;}

.m-listCtrl_box{bottom: 0;z-index: 2;background: #fff;border-top-left-radius: .5rem;border-top-right-radius: .5rem;overflow: hidden;transition-property: transform, opacity;}

.m-listCtrl.m-listCtrl_show{transition-duration: 0;transform: translate3d(0%,0%, 0);}
.m-listCtrl.m-listCtrl_hide{transition-delay: 300ms;transition-duration: 0;transform: translate3d(0%,100%, 0);}

.m-listCtrl.m-listCtrl_show .m-listCtrl_bg{opacity: .75;transition-duration: 300ms;}
.m-listCtrl.m-listCtrl_hide .m-listCtrl_bg{opacity: 0;transition-duration: 300ms;}

.m-listCtrl.m-listCtrl_show .m-listCtrl_box{opacity: 1;transition-duration: 300ms;transform: translate3d(0%,0%, 0);}
.m-listCtrl.m-listCtrl_hide .m-listCtrl_box{opacity: 0;transition-duration: 300ms;transform: translate3d(0%,100%, 0);}

.m-listCtrl_box .t{display: flex;padding: 0 .5rem;line-height: 2.2rem;}
    .m-listCtrl_box .t p{flex: 1;font-size: .8rem;font-weight: bold;}
    .m-listCtrl_box .t p span{color: #98999A;font-size: .7rem;}
    .m-listCtrl_box .t .r{width: 2rem;text-align: center;color: #98999A;}
    .m-listCtrl_box .t .r .iconfont{font-size: 1rem;}

.m-listCtrl_box ul{max-height: 15rem;overflow: auto;}
    .m-listCtrl_box ul li{display: flex;padding: .5rem;line-height: 1.2rem;}
    .m-listCtrl_box ul li .l{flex: 1;overflow: hidden;}
    .m-listCtrl_box ul li .l span{font-size: .6rem;color: #98999A;}
    .m-listCtrl_box ul li .r{width: 2rem;text-align: center;color: #98999A;}
    .m-listCtrl_box ul li .r .iconfont{font-size: .6rem;}
    .m-listCtrl_box ul li.active .l{color: #E4463B;}
    .m-listCtrl_box ul li.hide{display: none;}
    